@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    
    
}




body{
    background-color: #dadada;
    overflow-x: hidden;
}


a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    color: #fff;
    padding: 10px 20px;
    width: 100vw;
}

.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}
.nav-country h1{
    color: #fff;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px ;
}
.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
}
.nav-search-bar{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background-color: #ffd64f;
    border-radius: 0 4px 4px 0;
}

.nav-lang{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-signin{
    margin-left: 15px;
}

.nav-signin p{
    font-size: 13px;
}
.nav-signin h1{
    font-size: 14px;
}



.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.nav-bottom{
    width: 100vw;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    background-color: #232f3e;
    color: white;
}

.cart{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.cart-left{
    background: #fff;
    padding: 20px;
}
.cart-left h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}
.cart-left hr{
    border: none;
    height: 1px;
    background: #dadada;
}


.product-cart-list {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}

.product-cart-titleprice{
    display: flex;
    gap: 700px;
    font-size: 18px;
}

.texts{
    font-size: 12px;
    margin: 5px 0;
   
}
.texts input{
    padding: 5px 0;
}
.texts p{
    padding: 5px 0;
}
.cart-list-action{
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #007185;
}


.cart-list-action hr{
    height: 20px;
    width: 1px;
    background: #cfcfcf;

}
.cart-list-action select{
    padding: 5px;
    border-radius: 10px;
}
.cart-list-subtotal{
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}
.cart-right{
    background: white;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
}
.cart-free-delivery{
    display: flex;
    font-size: 12px;
    margin:20px 0;
}
.cart-free-delivery b{
    color: #067d62;
}


.purchase-div p{
    font-size: 18px;
    margin-bottom: 10px;
}
.purchase-div button{
    width: 258px;
    height: 29px;
    background-color: #ffd814 ;
    margin: 10px 0;
    border: none;
    border-radius:20px;
}
@media only screen and (max-width : 1200px){
    .nav-bottom{
        font-size: 8px;
        gap: 2px;
        padding: 1px;
    }
    .header-box{
        margin-top: 0px;
    }
    
}

@media only screen and (max-width:900px){
    nav{
        flex-wrap: wrap;
    }
    .nav-search{
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
    }
    .box-colm {
        max-width: 48%;
    }   
    .nav-bottom{
        
        font-size: 18px;
    }
    .cart{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width : 517px){
    .nav-bottom{
        top: 115px;
    }
    
}
@media only screen and (max-width : 600px){
    .nav-country{
        display: none;
    }
    .nav-lang{
        display: none;
    }
    .nav-signin{
        display: none;
    }
    .nav-bottom{
        
        z-index: 1;
        font-size: 13px;
        gap: 10px;
        overflow-x: scroll;
    }
    .nav-bottom ::-webkit-scrollbar{
        display: none;
    }
    .nav-bottom p{
        text-wrap: nowrap;
    }
    .mobileusericon{
        display: flex !important;
        flex: 1;
        justify-content: flex-end;


    }
    
    .mobileusericon img{
        width: 25px;
    }
    .nav-cart h4{
        display: none;
    }
    .nav-cart img{
        width: 25px;
    }

    
    .product-cart-list{
        padding: 24px 0;
    }
    
    .product-cart-list img{
        width: 80px;
        
    }
    .product-cart-titleprice{
        flex-wrap: wrap;
        font-size: 14px;
        gap: 0px;
    }
    .cart-free-delivery{
        font-size: 13px;
    }
    .cart-list-action .action-btn:nth-last-child(1){
        display: none;
    }
    .cart-list-action .action-btn:nth-last-child(2){
        display: none;
    }
    .cart-list-action .action-btn:nth-last-child(3){
        display: none;
    }
    .cart-list-action .action-btn:nth-last-child(4){
        display: none;
    }
    .cart-list-action hr:nth-last-child(1){
        display: none;
    }
    .cart-list-action hr:nth-last-child(3){
        display: none;
    }
    .cart-list-action hr:nth-last-child(4){
        display: none;
    }
    .cart-list-action hr:nth-last-child(5){
        display: none;
    }

    .cart-right{
        min-width: 100%;
    }
    
    .purchase-div div{
        display: flex;
        flex-direction: column;
    }
    
    
    
}